#!/usr/bin/env bash

VERSION=${1:1}
ORIGIN=$2
BRANCH=$3

git checkout develop

mvn versions:set -DnewVersion=next-SNAPSHOT
find . -name "*.versionsBackup" -type f -delete

git add 'pom.xml'
git commit -m "Update project version to next snapshot version"